@import '../../styles/variables';
@import '../../styles/mixins';
@import '../../styles/scroll-reveal.scss';

.about {
  padding: $spacing-xxl 0;
  margin-top: 60px;

  &__header {
    margin-bottom: $spacing-lg;
    @include md {
      padding-left: 0;
    }

    .title-bio-wrapper {
      margin-bottom: $spacing-md;
    }

    .section-title {
      font-family: $font-primary;
      font-size: $font-size-xxl;
      font-weight: 600;
      text-align: left;
      margin-bottom: $spacing-xs / 2;
      line-height: 1.2;
      max-width: 1000px;
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;
      @include md {
        padding-left: 0;
      }
    }
  }

  &__content {
    max-width: 1000px;
    margin: 0 auto;
  }

  &__profile {
    display: grid;
    grid-template-columns: 1fr;
    gap: $spacing-xl;
    margin-bottom: $spacing-xs;
    @include md {
      grid-template-columns: 3fr 2fr;
      align-items: start;
      gap: $spacing-xxl;
    }
  }

  &__gakati-link {
    color: $accent-color;
    text-decoration: none;
    @include transition;
    &:hover {
      color: darken($accent-color, 10%);
    }
  }

  &__bio {
    order: 2;
    @include md {
      order: 1;
    }
  }

  &__bio-text {
    font-size: $font-size-lg;
    line-height: 1.8;
    margin-bottom: $spacing-md;
    color: $text-color;

    .title-bio-wrapper & {
      margin-top: 0;
    }
  }

  &__link {
    color: $accent-color;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease;

    &:hover {
      color: darken($accent-color, 10%);
    }
  }

  &__image {
    order: 1;
    @include md {
      order: 2;
      align-self: flex-start;
    }

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      display: block;
      margin: 0;

      &.no-save {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
    }
  }

  &__image-caption {
    font-size: $font-size-xs;
    color: lighten($text-color, 20%);
    text-align: left;
    margin-top: $spacing-xs;
    font-style: normal;
    line-height: 1.3;
    padding: 0;
    width: 85%;

    p {
      margin-bottom: 2px;
      &:last-child {
        margin-bottom: 0;
      }
    }

    strong {
      font-weight: 700;
      font-style: normal;
    }
  }

  &__caption-link {
    color: $accent-color;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: darken($accent-color, 10%);
    }
  }

  &__question {
    font-weight: 600;
  }

  &__quote {
    margin: $spacing-xl 0;

    blockquote {
      font-family: 'Source Code Pro', monospace;
      font-size: $font-size-sm;
      font-style: italic;
      padding: $spacing-lg;
      border-left: 4px solid $accent-color;
      background-color: lighten($secondary-color, 5%);

      cite {
        display: block;
        text-align: right;
        font-weight: 700;
        margin-top: $spacing-sm;
      }
    }
  }

  &__macintosh-image {
    text-align: center;
    margin: $spacing-xl 0;

    img {
      max-width: 100px;
      height: auto;
      display: inline-block;
      filter: grayscale(20%);
      transition: filter 0.3s ease;

      @include md {
        max-width: 150px;
      }

      &:hover {
        filter: grayscale(0%);
      }

      &.no-save {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
    }
  }

  &__details {
    display: grid;
    grid-template-columns: 1fr;
    gap: $spacing-lg;
    margin-bottom: $spacing-xl;
  }

  &__download {
    text-align: left;
    margin-top: $spacing-md;
  }

  &__view-cv-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: auto;
    border-radius: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  &__cta {
    text-align: center;
    margin-top: $spacing-xl;
  }
}
