/* Este archivo es para resets CSS básicos y globals */
/* Importar fuente desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* Definir variable de fuente */
$font-primary: 'Quicksand', sans-serif;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
